

        .navbar-expand {
           flex-wrap: nowrap;
           justify-content: flex-start;
        }
        .navbar-nav {
          flex-direction: row;}

          .dropdown-menu {
            position: absolute;
          }

          .nav-link {
            padding-right:0;
            padding-left: 0;
          }
        

        .navbar-nav-scroll {
          overflow: visible;
        }

        .navbar-collapse {
          display: flex !important; 
          flex-basis: auto;
        }

        .navbar-toggler {
          display: none;
        }

        .offcanvas-header {
          display: none;
        }

        .offcanvas {
          position: inherit;
          bottom: 0;
          z-index: 1000;
          flex-grow: 1;
          visibility: visible !important; 
          background-color: transparent;
          border-right: 0;
          border-left: 0;
          
          transform: none;
        }
        .offcanvas-top,
        .offcanvas-bottom {
          height: auto;
          border-top: 0;
          border-bottom: 0;
        }

        .offcanvas-body {
          display: flex;
          flex-grow: 0;
          padding: 0;
          overflow-y: visible;
        }
      
