<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
       <img class="mb-4" src="https://i.ibb.co/K0nf1Gw/Header-Logo-blanco.png" alt="" width="" height="57">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarScroll">
        <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Inicio</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" routerLink="/vehiculos" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Vehículos</a>
            <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
              <li><a class="dropdown-item" routerLink="/vehiculos/buscar-nuevo-vehiculo">Nuevos</a></li>
              <li><a class="dropdown-item" routerLink="/vehiculos/buscar-usado-vehiculo">Usados</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" routerLink="/vehiculos/cotizar-vehiculo">Cotizar</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" routerLink="/Administrador" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Administrador</a>
            <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
              <li><a class="dropdown-item" routerLink="/administrador/">Gestionar Asesor</a></li>
              <li><a class="dropdown-item" href="#">Gestionar Cliente</a></li>
              <li><a class="dropdown-item" href="#">Gestionar Solicitudes</a></li>
              <li><a class="dropdown-item" routerLink="/administrador/crear-departamento">Gestionar Departamento</a></li>
              <li><a class="dropdown-item" routerLink="/administrador/crear-ciudad">Gestionar Ciudad</a></li>
              <li><a class="dropdown-item" href="#">Gestionar Vehiculos</a></li>
              <li><a class="dropdown-item" routerLink="/administrador/generar-informes">Generar Informes</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" routerLink="/Asesor" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Asesor</a>
            <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
              <li><a *ngIf="!autenticado" class="dropdown-item"  routerLink="/asesor/buscar-informes-fecha">Gestionar Informes</a></li>
              <li><a *ngIf="!autenticado" class="dropdown-item"  routerLink="/asesor/buscar-solicitud">Buscar Solicitudes</a></li>
              <li><a *ngIf="!autenticado" class="dropdown-item"  routerLink="/asesor/buscar-vehiculo">Gestionar Vehiculos</a></li>
              <li><a *ngIf="!autenticado" class="dropdown-item"  routerLink="/asesor/editar-estado-solicitud">Gestionar Estado de la Solicitud</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" routerLink="/Cliente" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Cliente</a>
            <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
              <li><a *ngIf="autenticado" class="dropdown-item"routerLink="/vehiculo">Cotizar Vehiculo</a></li>
              <li><a *ngIf="autenticado" class="dropdown-item" routerLink="/solicitud">Gestionar Solicitudes</a></li>
            </ul>
          </li>

          <li><a class="nav-link" routerLink="/contactenos/formulario">Contáctenos</a></li>
          <li><a *ngIf="!autenticado" class="nav-link" routerLink="/seguridad/login">Iniciar Sesión</a></li>
          <li><a *ngIf="autenticado" class="nav-link" routerLink="/seguridad/logout">Cerrar Sesión</a></li>
                               
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Buscar">
          <button class="btn btn-outline-success" type="submit" routerLink="/vehiculo">Buscar</button>
        </form>
      </div>
    </div>
  </nav>