<div class="card">
    <!-- <img src="..." class="card-img-top" alt="..."> -->
  
    <div class="card-body">
      <h3 class="card-title">2022 SPARK</h3>
      <p class="card-text">Su diseño compacto y variedad de colores llamativos, incluso tres tonos totalmente nuevos, hacen que el Spark 2022 se destaque en el camino.</p>
      <a href="#" class="btn btn-primary">Cotiza</a>
    </div>
  </div>
  
  <div class="card" aria-hidden="true">
    <img src="https://i.ibb.co/GChDqHr/Carrusel-3.jpg" class="card-img-top" alt="">
    <div class="card-body">
      
    </div>
  </div>
