
<form>
  <div class="row mb-3">
    <label for="id" class="col-sm-2 col-form-label">Id</label>
    <div class="col-sm-5">
      <input type="text" class="form-control" id="inputEmail3">
    </div>
  </div>
  <br>
  <div class="row mb-3">
    <label for="nombre_sucursal" class="col-sm-2 col-form-label">Nombre Sucursal</label>
    <div class="col-sm-5">
      <input type="text" class="form-control" id="nombre_sucursal">
    </div>
  </div>
  <br>
<div class="dropdown">
    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="departamento" data-bs-toggle="dropdown" aria-expanded="false">
      Departamento
    </a>
  
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
      <li><a class="dropdown-item" >Bogotá</a></li>
      <li><a class="dropdown-item" >Cundinamarca</a></li>
      <li><a class="dropdown-item" >Valle del Cauca</a></li>
    </ul>
  </div>
  <br>
  <div class="dropdown">
    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="ciudad" data-bs-toggle="dropdown" aria-expanded="false">
      Ciudad
    </a>
  
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
      <li><a class="dropdown-item" >Bogotá</a></li>
      <li><a class="dropdown-item" >Soacha</a></li>
      <li><a class="dropdown-item" >Cali</a></li>
    </ul>
  </div>
  <br>
 <button type="submit" class="btn btn-primary">Enviar</button>
</form>
<script src="/docs/5.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>


<script src="https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.js"></script>

<script src="/docs/5.1/assets/js/docs.min.js"></script>